<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div
       class="validation"
       >
      <small>
        email is not valid</small>
    </div>
    </div>

    <div class="form-control">
      <label>Pasw</label>
      <input type="password" placeholder="Password" formControlName="password">
      <div class="validation"></div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Аddress</h2>

      <div class="form-control">
        <label>Contry</label>

        <select formControllName="country">
          <option value="usa">USA</option>
          <option value="ca">Canada</option>
          <option value="uk">Uk</option>
        </select>
      </div>

      <div class="form-control" >
        <input type="text" formControllName="city" placeholder="city">
      </div>

      <button class="btn" type="button">Choose capital</button>
    </div>

    <div class="card">
      <h2>Ваши навыки</h2>
      <button class="btn" type="button">Add skills</button>
      <div class="form-control">
        <label></label>
        <input type="text">
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">Send</button>

  </form>
</div>
<!-- *ngIf="form.get('email').invalid && form.get('email').touched" -->
<!-- <small *ngIf="form.get('email).errors.required">
  email is not valid</small> -->

