<div *ngIf="!loading">
  <!-- Searching -->
  <div class="filter" >
    <input type="text" placeholder="Search..."
    class="search"
    [(ngModel)] = "searchString">
  </div>
  <!-- Searching end-->
<div class="wrapper" *ngIf="postService.posts.length; else noPost">
<div *ngFor="let post of postService.posts | postFilter: searchString" class="card">
  <div class="card__article">
    <div class="box">
      <h2>{{post.title}}</h2>
      <button (click)="editPost(post)" class="edit_btn">Edit</button>
    </div>

    <p>{{post.body}}</p>
    <ng-content></ng-content>
  </div>
  <button (click)="removePost(post.id)" class="btn remove"
  [ngStyle]="{backgroundColor:'red'}"
  >&times;</button>
</div>
</div>

<ng-template #noPost>
 <h2 class="noPost_title">There is no post!!!</h2>
</ng-template>
</div>
<p *ngIf="loading">Loading...</p>

<!-- (click)="removePost(post.id)" -->
