.wrapper {
  position: relative;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-weight: bold;
  color: red;
}

.box {
  display: flex;

  .edit_btn {
    padding: 0.2rem 1rem;
    margin-left: 1.5rem;
    background-color: green;
    color: #fff;
  }
}

.popup {
 position: absolute;
 display: block;
 bottom: 25%;
 width: 30%;
}
