.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noPost_title {
  text-align: center;
  margin-top: 3rem;
}

.filter {
  display: flex;
  justify-content: flex-end;
}

.search{
  width: 45%;
  background-color: #d7e22b;
}
