.card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__article {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
    width: 100%;
  }

  & .box {
    display: flex;
  }
}

.noPost_title {
  text-align: center;
  margin-top: 3rem;
}

.filter {
  display: flex;
  justify-content: flex-end;
}

.search{
  width: 45%;
  background-color: #d7e22b;
}

.edit_btn {
  background-color: green;
  padding: 0.4rem 1rem;
  color: #fff;
  height: 2rem;
  margin-left: 1rem;
}

.remove {
  margin-left: 1rem;
}
